body {
    margin: 0;
    font-family:Roboto;
    background: #f0e6f6;
}



h2 {
   color: #037a6f;
    text-decoration: none;
    text-align:center;
    font-size:32px;
    padding: 5px 10px;
}



.images-page {
    display: flex;
    flex-direction: column;
    align-items: center;
   background: #f0e6f6;
    height: 100vh;
    box-sizing: border-box;
}

.images-page h2 {
    margin: 0;
    padding: 0 20px;
    color: #fff;
    font-size: 24px;
}

.images-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.image-item {
    width: calc(30% - 20px);
    height: calc(50% - 20px);
    object-fit: cover;
    margin: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}



