body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0e6f6;
}

.banner {
    background: #f0e6f6;
    padding: 20px;
    text-align: center;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #333;
    color: #fff;
}

.nav-item {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-item:hover {
    background: #555;
    border-radius: 5px;
    color: #fff;
}

.content {
    margin-top: 20px;
}

.btn {
    margin: 10px;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #555;
}


/* landing page images styling */
.image-item {
    text-align: center;
    position: relative; /* Ensure captions overlay correctly */
    overflow: hidden; /* Ensure images don't overflow */
}

.image-item img {
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.image-item:hover img {
    transform: scale(1.1); /* Zoom in effect on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    padding: 10px;
    margin: 0;
    transition: opacity 0.3s ease; /* Smooth transition for caption */
    opacity: 0; /* Initially hidden */
}

.image-item:hover .image-caption {
    opacity: 1; /* Show caption on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}



.user-interface, .admin-interface {
    display: none;
    padding: 20px;
}

h2 {
    color: #333;
}
